<li class="chatItem">
    <div class="chatItem__image-wrapper">
        {{{image}}}
    </div>
    <div class="chatItem__content">
        <div class="chatItem__header">
            <h2 class="chatItem__title">title</h2>
            {{{dateAndTime}}}
        </div>
        <div class="chatItem__body">
            {{{message}}}
            {{{badge}}}
        </div>
    </div>
</li>